@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ECF0F1;
    text-decoration: none;
}

.logo {
    width: 75px;
    height: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24242A;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3 ease 0s;

}

.navLinks li a:hover{
    transition: all 0.3 ease 0s;
    color: #0088A9;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-top: -15px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#test {
    border-radius: 50px;
    border-color: gray;
}

#citySearch {
    border-radius: 50px;
}

.card {
    height: 360px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.6);
    /* position: absolute; */
    margin: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

h4 {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
}

h6 {
    text-align: center;
    color: black;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 25px;
}

.card img {
    width: 22%;
    margin-left: 39%;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.container {
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.details {
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.details span {
    color: black;
}

.details:first-child {
    border-right: 2px solid #fcfcfc;
}

.cardFlex {
    display: flex;
    margin: 100px;
}