@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ECF0F1;
    text-decoration: none;
}

.logo {
    width: 75px;
    height: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24242A;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3 ease 0s;

}

.navLinks li a:hover{
    transition: all 0.3 ease 0s;
    color: #0088A9;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-top: -15px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#test {
    border-radius: 50px;
    border-color: gray;
}

#citySearch {
    border-radius: 50px;
}

.card {
    height: 360px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

h4 {
    text-align: center;
}

#contactArea {
    height: 200px;
}

#checkImg {
    display: flex;
    justify-content: center;
}